body{
  font-family: Century Gothic;

}
.container{
  display: flex;
  justify-content: center;
}
#kiten{
  /*background-image: url('../afbeelding/kiten.JPG');
  background-repeat: no-repeat;
  height: auto;
  background-position: center;*/
  /*background-attachment: fixed;*/
}

.fun{
  text-align: center;
  font-style: italic;
  color: darkgray;
}


@media only screen and (max-device-width:740px)  {
  .logo{
    width: 40px;
    margin: 0 auto;
  }
  .naam{
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
  }
  .kiten {
    background-size: 740px;
    height: 200px;
  }
  .intro{
  /*  background-color: lightblue;*/
    width: 100%;
  }
  h1{
    font-size: 18px;
    color: black;
    text-align: center;
    padding-bottom: 0px;

  }
  h2{
    color: black;
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 14px;
    color: black;
  }
}


@media only screen and (min-device-width:741px) and (max-device-width:1024px)  {
  .logo{
    width: 40px;
    margin: 0 auto;
  }
  .naam{
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
  }
  .kiten {
    background-size: 1024px;
    height: 200px;
  }
  .intro{
  /*  background-color: lightblue;*/
    width: 100%;
  }
  h1{
    font-size: 18px;
    color: white;
    text-align: center;
    padding-bottom: 0px;

  }
  h2{
    color: black;
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 14px;
    color: black;
  }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1365px)  {
  .logo{
    width: 80px;
    margin: 0 auto;
  }
  .naam{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .kiten {
    background-size: 1366px;
    height: 200px;
  }
  .intro{
  /*  background-color: lightblue;*/
    width: 100%;
  }
  h1{
    font-size: 18px;
    color: lightblue;
    text-align: center;
    padding-bottom: 0px;
  }
  h2{
    color: lightblue;
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 14px;
    color: black;
  }
}

@media only screen and (min-device-width:1366px)  {
  .logo{
    width: 80px;
    margin: 0 auto;
  }
  .naam{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .kiten {
    background-size: 1366px;
    height: 200px;
  }
  .intro{
  /*  background-color: lightblue;*/
    width: 100%;
  }
  h1{
    font-size: 18px;
    color: lightblue;
    text-align: center;
    padding-bottom: 0px;

  }
  h2{
    color: lightblue;
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: center;
    font-size: 14px;
    color: black;
  }
}
