body{
  font-family: Century Gothic;
  }
.paralax1{ /*home page*/
  background-image: url(../afbeelding/strand.jpg);
  background-repeat: no-repeat;
  /*background-position: center;*/
  margin: 0 auto;
  background-size: cover;
}
.paralaxWork{/*workcase*/
  background-color: lightblue;
  height: 300px;
}
.container{
  display: flex;
  margin: 0 auto;
  padding: 10px;
}
.wrapper{
  width: 100%;
}
.intro{
  width: 100%;
  margin-bottom: 10px;
}
strong{
  color: lightblue
}
.fun{
  text-align: center;
  font-style: italic;
  color: darkgray;
}
h1,h2{
  color: lightblue;
}
/*download cv stijling*/
form:hover{
  transform: scale(1.5);
}

form{ /* download voor CV*/
  margin: 0 auto;
  text-align: center;
}
#button{ /*CV button*/
  background:none;
  border:none;
  margin: 30px;
}
.center{
  text-align: center;
}
button{ /*buttons voor het uitdagen om meer over mij te leren*/
  background: lightblue;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  }
button:hover{
  background:#fff;
  color: lightblue;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: lightblue;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.text_container{
  text-align: center;
  width: 500px;
  height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
  display: none;
}

footer{
  text-align: center;
}
figure{
  margin-top: 100px;
  width: 200px;
  height: auto;
}
.social{
  display: inline-block;
  margin: 0 auto;
}
.ln{
  background-image: url('../afbeelding/nzink/logo-250px.svg');
  background-repeat: no-repeat;
  background-position: center;
/*  background-size: cover;*/
  height: 100px;
}

@media only screen and (max-device-width:740px)  {
  .logo{
    width: 40px;
    margin: 0 auto;
  }
  .naam{
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
  }
  .intro{
    /*background-color: lightblue;*/
    text-align: left;
    font-size: 14px;
    color: black;
  }
  .paralax{
    height: 250px;
    width: 730px;
  }
  .paralax1{
    height: 250px;
    width: 150px;
    margin: 0 auto;
  }
  h1{
    color: black;
    text-align: center;
    padding-bottom: 0px;
  }
  h2{
    font-size: 16px;
    text-align: center;
  }
  button{
    width: 150px;
    padding: 5px;
  }
}


@media only screen and (min-device-width:741px) and (max-device-width:1024px)  {
  .logo{
    width: 40px;
    margin: 0 auto;
  }
  .naam{
    font-size: 16px;
    text-align: center;
    letter-spacing: 3px;
  }
  .paralax{

  }
  .paralax1{
    height: 500px;
    width: 400px
  }
  h1{
    font-size: 18px;
    text-align: center;
    padding-bottom: 0px;
  }
  h2{
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: left;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
  }

}

@media only screen and (min-device-width:1025px) and (max-device-width:1365px)  {
  .logo{
    width: 80px;
    margin: 0 auto;
  }
  .naam{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .paralax{
    height: 250px;
    width: 100%;
  }
  .paralax1{
    height: 500px;
    width: 400px
  }
  h1{
    font-size: 18px;
    text-align: center;
    padding-bottom: 0px;
  }
  h2{
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: left;
    font-size: 14px;
    width: 1000px;
    margin: 0 auto;

  }
  .text_container{
    text-align: center;
  }
}

@media only screen and (min-device-width:1366px)  {
  .logo{
    width: 80px;
    margin: 0 auto;
  }
  .naam{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
  }
  .paralax{
    height: 250px;
    width: 100%;
  }
  .paralax1{
    height: 500px;
    width: 400px
  }
  h1{
    font-size: 18px;
    text-align: center;
    padding-bottom: 0px;

  }
  h2{
    font-size: 16px;
    text-align: center;
  }
  p{
    text-align: left;
    font-size: 14px;
    width: 1000px;
    margin: 0 auto;
  }
  .text_container{
    text-align: center;

  }
}
